body {
    text-align: center;
    overflow-x: hidden;
    margin: 0;
}

img {
    height: 200px;
    box-shadow: 3px 3px 3px #222;
    border-radius: 10px;
    
}
.game-space {
    display: inline-block;
    width: 90%;
    margin: auto;
}

.player {
    position: relative;
    float:left;
    text-align: center;
    
}

/* #player1 {
    
    margin-left: 0;
}

#player2 {
    margin-left: auto;
    margin-right: 0;
} */
